<html>

<%- include('adminHeader') %>

<body class = "body bodyLight">
	<%- include('customerNav') %>
	<div class="addAccForm">
		<h1 class='head'>Transaction Details</h1>

		<table class="table table-light table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">Payee name</th>
					<th scope="col">Amount</th>
					<th scope="col">Transaction Date</th>
				</tr>
			</thead>
			<% if (allTransEjs.length == 0){ %>
				<tr>
					<th scope="col">No content to be displayed</th>
				</tr>
			<% } else{%>
				<% for(var i = 0; i < allTransEjs.length; i++){ %>
					<tr>
						<th scope = "col"> <%= allTransEjs[i]["payeeAcc"] %> </th>
						<th scope = "col"> <%= allTransEjs[i]["amount"] %> </th>
						<th scope = "col"> <%= allTransEjs[i]["date"] %> </th>
					</tr>
					<% } %>
			<% } %>
		</table>

	</div>
	<script src="js/darkmode.js"></script>
</body>

</html>
